* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

:root {
    --c-bg: hsl(0, 0%, 90%);
    --c-text: hsl(0, 0%, 10%);
    --pad: max(20px, 4vmin);
}

body {
    font-family: 'Roboto Mono', monospace;
    -webkit-background-color: #0D0D0D;
    background-color: #0D0D0D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
    height: -webkit-fill-available;
}

html {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D0D0D; /* Set background color to black */
    color: #fff; /* Set text color to white */
}


/*Introduction*/

.center {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.square {
    width: 260px;
    height: 260px;
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.intro-name {
    font-size: 30px;
    font-weight: 300;
    margin-top: 80px;
}

.intro-surname {
    font-weight: 100;
    margin-bottom: 80px;
}

.line {
    position: absolute;
    background-color: #807F80;
}
  
.top-line, .bottom-line {
    width: 100%;
    height: 1px;
}
  
.right-line, .left-line {
    width: 1px;
    height: 100%;
}
  
.top-line {
    top: 0;
}
  
.right-line {
    right: 0;
    top: 0;
}
  
.bottom-line {
    bottom: 0;
}
  
.left-line {
    left: 0;
    top: 0;
}

/*Homepage*/

.section {
    display: none;
}

.visible {
    display: block;
}

.homepage {
    opacity: 0;
}

.mask {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.mask2 {
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.mask_top,
.mask_bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--pad);
    opacity: .9;
}

.mask_left,
.mask_right {
    position: absolute;
    height: 100%;
    width: var(--pad);
    opacity: 1;
    mix-blend-mode: difference;
}

.mask_top {
    top: 0;
}

.mask_bottom {
    bottom: 0;
}

.mask_left {
    left: 0;
}

.mask_right {
    right: 0;
}

.utc-time {
    font-weight: 100;
    position: fixed;
    z-index: 10;
    right: var(--pad);
    top: calc(var(--pad) - 1.13em);
    transform-origin: top right;
    white-space: nowrap;
    mix-blend-mode: difference;
    display: flex;
    column-gap: 15px;
    backface-visibility: hidden;
    line-height: 1;
}

.frame {
    opacity: 1;
    position: fixed;
    z-index: 10;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    mix-blend-mode: difference;
    pointer-events: none;
}

.frame_line {
    position: absolute;
    background-color: #fff;
    opacity: .5;
}

.frame_line-left {
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.frame_line-right {
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.frame_line-top {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
}

.frame_line-bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}


.theme {
    position: fixed;
    z-index: 10;
    left: calc(var(--pad) - .15em);
    bottom: var(--pad);
    transform-origin: left bottom;
    transform: rotate(-90deg);
    white-space: nowrap;
    mix-blend-mode: difference;
    display: flex;
    column-gap: 15px;
    cursor: pointer;
}

.theme_colors {
    display: flex;
    column-gap: 15px;
}

.theme_color {
    display: flex;
    column-gap: 3px;
    font-weight: 100;
    text-transform: uppercase;
}

.theme_color[disabled] {
    cursor: not-allowed;
}

.content {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: difference;
}

.content_inner {
    position: relative;
    min-height: 100%;
}

.siteHeader {
    position: fixed;
    z-index: 10;
    left: calc(var(--pad)*2);
    top: calc(var(--pad)*2);
    mix-blend-mode: difference;
}

.siteHeader_title {
    margin: -0.1em 0 0 -0.04em;
    font-weight: 200;
    font-size: 8vw;
}


.siteHeader_label {
    margin-top: 5px;
    font-weight: 200;
    font-size: 3.5vw;
}

@media(min-width: 720px) {
    .siteHeader_title {
        font-size: 60px;
    }
    .siteHeader_label {
        margin-top: 15px;
        font-size: 25px;
    }
}

.siteHeader_nav {
    margin-top: 30px;
    font-size: 2.5vw;
}

.siteHeader_nav ol li a.active {
    opacity: 0.3; 
  }

.siteHeader_nav ol {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.siteHeader_nav ol li {
    position: relative;
}


.siteHeader_nav ol li ._text {
    position: relative;
    transition-property: opacity;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.siteHeader_nav ol li ._text::before {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

@media(hover: hover) {
    .siteHeader_nav ol li ._text:hover {
        opacity: .25;
    }
}

@media(min-width: 720px) {
    .siteHeader_nav {
        margin-top: 60px;
        font-size: 15px;
    }
}

#Page {
    overflow: hidden;
}

.page {
    font-weight: 100;
    width: 100%;
    min-height: calc(var(--vh, 1vh)*100);
    overflow: auto;
}

.page::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Optional: Hide the background */
}

.home {
    position: absolute;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.home_aboutme {
    line-height: 1.5;
    padding: calc(var(--pad)*2) calc(var(--pad)*2);
}

.home_aboutme span {
    display: block;
}

.info {
    position: absolute;
    left: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap;
}

@media(min-width: 1280px) {
    .info {
        position: relative;
        left: auto;
        bottom: auto;
        height: calc(var(--vh, 1vh)*100);
    }
}

@media(min-width: 1280px) {
    .info_item {
        position: absolute;
    }
}

.info_item+.info_item {
    margin-top: 50px;
}

@media(min-width: 1280px) {
    .info_item+.info_item {
        margin-top: 0;
    }
}

@media(min-width: 1280px) {
    .info_item-1 {
        left: 55%;
        top: calc(50% - 19px);
    }
}

@media(min-width: 1280px) {
    .info_item-2 {
        right: calc(var(--pad)*2);
        top: calc(var(--pad)*2);
    }
}

@media(min-width: 1280px) {
    .info_item-3 {
        right: calc(var(--pad)*2);
        bottom: calc(var(--pad)*2);
    }
}

.contact {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap;
}

.contact_text {
    display: block;
}

.contact_text+.contact_text {
    margin-top: 1em;
}

.switch {
    line-height: 0.1;
    position: relative;
    display: inline-block;
    width: 43px;
    height: 12px;
  }
   
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #0D0D0D;
    border: 1px solid #0D0D0D;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(48px);
    -ms-transform: translateX(48px);
    transform: translateX(31px);
    background-color: #0D0D0D;
    border: 1px solid #0D0D0D;
  }
  
  .slider.round {
    border-radius: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 



/*----------------*/
/* Skills Section */
/*----------------*/

.content_skills {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: difference;
}

.content_inner_skills {
    position: relative;
    min-height: 100%;
}

.page .skills_page {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap;
    line-height: 1.5;
    text-align: right; /* Updated to align text to the right */
}

.skills_page div {
    margin-top: 40px;
    text-align: right; /* Updated to align text to the right */
}

.skills_inline ul {
    list-style: none;
    padding: 0;
}

.skills_inline li {
    margin-top: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.skills_inline img {
    display: block;
    margin-left: 6px; /* Adjust the margin as needed */
}

.skills_inline span {
    margin-right: 12px; /* Adjust the margin as needed */
}

.skills_page img {
    height: 30px;
}



/*------------------*/
/* Projects section */
/*------------------*/

.project {
    padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
    text-align: right;
    white-space: nowrap;
}


.project_section {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    margin-top: 100px;
}

@media(min-width: 1280px) {
    .project {
        padding: calc(var(--pad)*2 + 125px) calc(var(--pad)*2);
    }
}

.project_heading {
    font-weight: 200;
}

.project_list {
    margin-top: 50px;
}

.project_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 15px;
}

@media(min-width: 1280px) {
    .project_item {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: baseline;
        column-gap: 15px;
    }
}

.project_title {
    font-weight: 200;
    font-size: 6vw;
    text-align: right;
}

@media(min-width: 1280px) {
    .project_title {
        font-size: 60px;
    }
}

.project_info {
    margin-top: 5px;
}

@media(min-width: 1280px) {
    .project_info {
        margin-top: 0;
    }
}



/*-----------------*/
/* Contact Section */
/*-----------------*/

/* Style the inputs with a single 1px thin border */
.form_page input[type=text], select, textarea {
    display: block;
    width: 95.3%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    background-color: transparent; /* Remove background color */
    color: #fff; /* Change font color to white */
    border: 1px solid #fff; /* Add a single 1px thin border */
    font-family: 'Roboto Mono', monospace; /* Set font family to Roboto Mono */
    padding: 8px; /* Adjust padding for better visual */
}

/* Style the submit button with a specific background color etc */
.form_page input[type=submit] {
    font-family: 'Roboto Mono', monospace; /* Set font family to Roboto Mono */
    font-weight: 300;
    background-color: transparent;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid #E5E5E5; /* Add a single 1px thin border */
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.form_page input[type=submit]:hover {
    background-color: #E5E5E5;
    color: #000;
}

/* Style the labels to be inline */
.form_page label {
    display: inline-block;
    margin-bottom: 8px;
}

.page .form_page {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements */
    white-space: nowrap;
    line-height: 1.5;
}

.form_page div {
    text-align: center; /* Center align text within the div */
}

/* Ensure font is applied when typing */
.form_page input[type=text]:focus, select:focus, textarea:focus {
    font-family: 'Roboto Mono', monospace; /* Set font family to Roboto Mono */
    font-weight: 100;
}

@media(min-width: 920px) {
    .form_firstlast {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .form_firstlast label{
        margin-right: 10px;
    }

    .form_firstlast input{
        margin-right: 30px;
    }
} 

/*----------*/
/* 404 Page */
/*----------*/

.page_404 {
    font-weight: 100;
    opacity: 1;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
}

.content_box_404 h1{
    font-size: 80px;
}

.content_box_404 h2{
    font-size: 20px;
}

.message_404{
    margin: 40px;
    line-height: 1.5;
    opacity: 0.5;
    width: 80vw;
}

.image_404{
    margin-top: 5px;
    height: 30px;
}

@media(min-width: 1280px) {
    .content_box_404 h1{
        font-size: 100px;
    }
    
    .message_404{
        margin: 60px;
        line-height: 1.5;
    }
    
    .image_404{
        margin-top: 5px;
        height: 30px;
    }
}
